.wrappir{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 150px 0;
}
.card{
    max-width: 300px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px rgb(202, 200, 200);
}
.card>img{
    width: 250px;
    height: 250px;
}
.card >p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
